<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="left button-collapse" style="display: block;">
      <i class="material-icons">menu</i>
    </a>
    <a href="#" class="brand-logo">Stream.io</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="series" style="font-size: 1.1rem;">
          <span class="material-icons" style="font-size: 16px;">local_movies</span>
          Séries
        </a>
      </li>
      <li>
        <a routerLink="top" style="font-size: 1.1rem;">
          <span class="material-icons" style="font-size: 16px;">stars</span>
          Top 5
        </a>
      </li>
      <li>
        <a routerLink="news" style="font-size: 1.1rem;">
          <span class="material-icons" style="font-size: 16px;">new_releases</span>
          Nouveautés
        </a>
      </li>
      <li>
        <a routerLink="favorites" style="font-size: 1.1rem;">
          <span class="material-icons" style="font-size: 16px;">loyalty</span>
          Coup de coeur
        </a>
      </li>
      <li>
        <a href="#!/about">About</a>
      </li>
      <!--                <li><a href="badges.html">Login</a></li>-->
    </ul>
  </div>
</nav>

<!-- Profile Component -->
