{
    "app": {
        "https": false,
        "host": "localhost",
        "port": 8080,
        "privateKey": "server.key",
        "certificate": "server.crt"
    },
    "api": {
        "host": "localhost",
        "port": "8081",
        "key": "<apikey>"
    },
    "users": {
        "username": "sha512"
    }
}