<h2 class="header" style="margin-bottom: 1.424rem">Derniers ajouts</h2>
<div class="row">
    <div *ngFor="let downloaded of history">
        <p>
            {{downloaded.date | date: 'dd/MM/yyyy hh:mm'}} : <b>{{downloaded.show_name}}</b> - 
            <a href="/series/{{downloaded.indexerid}}/{{downloaded.season}}/{{downloaded.episode}}">
                Saison {{downloaded.season}} épisode {{downloaded.episode}}
            </a>
        </p>
    </div>
</div>

<h2 class="header" style="margin-bottom: 1.424rem">Nouveautés</h2>
<div class="row">
    <h5>23 Août 2018</h5>
    <p>Réorganisation des pages du site et ajout de la page nouveautés en accueil. La page des séries est à retrouver <a routerLink="series">ici</a>.</p>
    <p>Refactorisation et réorganisation du code du serveur.</p>
     
    <h5>22 Août 2018</h5>
    <p>Rétablissement des bannières de séries et ajout des boutons épisodes suivants / précédents.</p>
    <p>Correction des sous-titres tronqués en fin d'épisodes.</p>
     
    <h5>20 Août 2018</h5>
    <p>Correction sur le serveur de Streamer.io pour gérer les routes Angular.</p>
    <p>Ajout de la modification de la route url par séries, saisons, épisodes.</p>
    <p>Ajout de la barre espace pour pause/play une vidéo.</p>
    
    <h5>21 Juin 2018</h5>
    <p>Ajout du mode SSL du serveur pour gérer le HTTPS sur le site.</p>
    <p>Ajout des fichiers de configuration et de la compatibilité es6.</p>

    <h5>18 Octobre 2017</h5>
    <p>Ajout du player Videogular 2 pour lire les vidéos et offrir plus de fonctionnalités de lecture.</p>

    <h5>17 Octobre 2017</h5>
    <p>Restructuration du project en Angular 4.</p>
</div>
