<h2 class="header">Series</h2>

<div class="row">

  <label for="show">Serie : </label>
  <select id="show" [(ngModel)]="selectedSerie" [disabled]="listSeries.length < 1" (change)="onChangeSerie()" style="width: 200px;">
        <option *ngFor="let serie of listSeries" [ngValue]="serie">{{ serie.show_name }}</option>
    </select>

  <label for="show">Saison : </label>
  <select id="show" [(ngModel)]="selectedSaison" [disabled]="!listSaisons.length" (change)="onChangeSaison()" style="width: 100px;">
        <option *ngFor="let saison of listSaisons" [ngValue]="saison">{{ saison.index }}</option>
    </select>

  <label for="show">Episode : </label>
  <select id="show" [(ngModel)]="selectedEpisode" [disabled]="!selectedSaison" (change)="onChangeEpisode()" style="width: 250px;">
        <option *ngFor="let episode of listEpisodes" [ngValue]="episode">{{ episode.id }}. {{ episode.name }}</option>
    </select>

  <br>
  <img [src]="bannerUrl" class="banner" />
  <br>

  <!-- <div class="video-container">
    <video id="player" class="responsive-video" [hidden]="!showPlayer" [src]="url" controls width="100%" poster="data:image/gif,AAAA">
    </video>
  </div> -->

  <vg-player [hidden]="!showPlayer" class="responsive-video" (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
      <vg-play-pause></vg-play-pause>
      
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="media" [vgMaster]="true" #media id="player" preload="auto" width="100%">
      <source *ngFor="let video of sources" [src]="video.url" [type]="video.type">
      <track [src]="subtitle" kind="subtitles" label="Français" default>
    </video>
  </vg-player>

</div>
